.container {
  margin-top: 20px;
  width: 375px;
  padding: 10px;
  display: flex;
  max-height: 30vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px
}