.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.46);
  transition: .7s ease-in-out;
   opacity: (0);
  pointer-events: none;

  .contentModal {
    width: 400px;
    min-height: 400px;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: scale(0.5);
    transition: .7s ease-in-out;

  }
  &_active {
    pointer-events: all;
    opacity: (1);
    .contentModal {
     transform: scale(1);
      transition: .7s ease-in-out;

    }
  }
}