.homeWork {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  .btn {
    position: fixed;
    bottom: 110px;
    background: linear-gradient( 0deg , #074967, #718896 10% , #0e729d);
    color: #fff;
    text-shadow: 0 0 3px #000;
  }
}