.formContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  .labelForm {
    margin-top: 30px;
    .inputField {
      display: block;
      width: 350px;
      height: 30px;
    }
  }
  .labelForm {
    margin-top: 30px;
    .inputArea {
      font-size: 20px;
      margin-top: 10px;
      width: 350px;
      padding: 10px;
      display: block;
      min-height: 200px;
    }
  }
  .btn {
    margin-top: 10px;
    background: linear-gradient( 0deg , #0c6385, #86a8be 10% , #0e729d);
    transition: .4s ease-in-out;
    &:hover {
      background: #074259;
    }
  }
}