.mainGrid {
  width: 100%;
  color: #523232;
  .imageFrame {
    align-self: center;
    //width: 300px;
    padding: 3px;
    border: 1px solid #701212;
    border-radius: 3px;
    overflow: hidden;
    background: #efd5ad;
    height: auto;
    .picture {
      display: block;
      width: 100%;
    }
    .title {
      padding: 5px;
      height: 20px;
      text-align: center;
      font-size: 18px;
      letter-spacing: .1rem;

    }
  }
}